*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}




body::-webkit-scrollbar{
    display: none;
}





.head{
    position: fixed;
    z-index: 99;
    height: 1.5rem;
    width: 100%;
    background-color: #1e1f29;
    display: flex;
    justify-content:flex-end;
}

.head a{
    font-size: 1rem;
    border-left: solid gray .1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: azure;
    font-weight: 500;
    text-decoration: none;
    transition: .7s;
}

.head a:after{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background: red;
    color: red;
    transition: 300ms;
}

.head a:hover:after{
    width: 100%;
}

.head a:hover{
    border-left: solid red .1rem;
    color: red;
}

@media screen and (max-width : 500px){
    .head {
        display: block;
        flex-direction: column;
        height: min-content;
    }
    .head a{
        padding: 0;
    }
}




/*  --Second Portion--  */


.container{
    margin-top: 1.5rem;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.5);
}

.container img{
    height: 3.5rem;

}

#chk1{
    display: none;
}

.container i{
    color: #fff;
    cursor: pointer;
}

.container .logoname{
    flex: 1;
    color: #fff;
    margin-left: 30px;
    text-transform: uppercase;
}

.container .search-box{
    flex: 1;
    position: relative;
    width: 100%;
   
}

.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: #fff;
    color: gray;
    font-size: 16px;
    text-align: center;
}

.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    background: red;
    top: 0;
    right: 0;
    transform: scale(0.9);
}

.container .menu ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;

}

.container ul li{
    list-style: none;
    margin-top: 30px;
}

.container ul li a{
    transition: .7s;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;

}

.container ul li .wish{
    margin-top: -25px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 15px;
    font-size: x-large;
    transition: .7s;
}

.container ul li .cart{
    margin-top: -25px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 15px;
    font-size: x-large;
    transition: .7s;
}

.container .menu .bar{
    font-size: 2.5rem;
    display: none;
}

.container ul li a:after{
    content: '';
    width: 0;
    height: 2px;
    display: inline-block;
    background: red;
    color: red;
    transition: 300ms;
}

.container ul li a:hover:after{
    width: 100%;
}

.container ul li a:hover{
    color: red;
}

.container ul li i:hover{
    color: red;

}

@media screen and (max-width : 500px){

    .container{
        padding-top: 105px;

    }
}












/*  Third Portion  */


.big-div{
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.login-container {
    background-size: cover;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px  rgba(0, 0, 0, 0.5);
    text-align: center;
}
.login-container h2 {
    margin-bottom: 10px;
    color: #fff;
    font-weight: 500;
}

.login-container .login-text{
    margin-bottom: 20px;
    color: azure;
    font-weight: 200;
    font-size: 14px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 5px;
}



.login-container input[type="submit"] {
    width: 90%;
    padding: 10px;
    background: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-container input[type="submit"]:hover {
    background:  red;
}
.login-container .forget {
    display: block;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    transition: .7s;
}
.login-container .forget:hover {
    color: red;
    text-decoration: underline;
}


.signup{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.signup a{
    color: #fff;
    text-decoration: none;
    transition: .7s;
}


.signup a:hover{
    color: red;
    text-decoration: underline;
}




/*  Footer Portion  */


.footer {
    background-color: #343a40;
    color: white;
    padding: 40px 20px;
}

.footer h5 {
    color: #ffc107;
    margin-bottom: 15px;
}

.footer p, .footer ul {
    margin-bottom: 15px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer a {
    color: #adb5bd;
    text-decoration: none;
}

.footer a:hover {
    color: #ffc107;
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #495057;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    color: #adb5bd;
}

.footer-container {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.col {
    flex: 1 1 300px;
    min-width: 200px;
}