
.order-container {
    width: 50%;
    background: #ffffff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.product-info {
    text-align: center;
    margin-bottom: 20px;
}

.product-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

p {
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

input, select {
    width: 40%;
    padding: 8px;
    font-size: 16px;
}

.button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .order-container {
        width: 90%;
    }
}
